@import "../variables";

.container {
	margin: 10em auto;
	max-width: $site-width;
	background-color: #eee;
}

.form-login,
.form-signup {
	display: none;
}

.form-signup-container {
	padding: 1rem;
	border-radius: 4px;
}
